:root{
	font-size: 16px;
	
}
body{
	margin: 0;
	padding: 0;
	background-color: white;
	font-family:Verdana,sans-serif;
	box-sizing: border-box;

}
.main{
	width: 100%;
	height: relative;
	display:flex;
	flex-direction: column;
}
.navbar{
	width: 100%;
	height:60px;
	background-color: grey;
	margin-top: 1px;

}
.navbar h2{
	float: left;
	margin-top: 40px;
	margin-left: 60px;
	line-height: 0px;

}
.navbar ul{
	margin-left: 100px;
	padding: 0;
	margin:0;
}
.navbar ul li{
	text-align: center;
	
	display:inline-flex;
	
    align-items: center;
	padding: 20px;
	line-height: 15px;

}

a:link, a:visited {
    background-color: grey;
    color: black;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display:inline-flex;
    align-items: center;
    
}
a:hover,a:active {
	background-color:black;
    text-decoration: underline;
    color: white;
    font-size:150%;
    transition: 1s all;
    
  }
  .header{
  	width: 100vw;
	height: 120vh;
	background-image: url("./image/somesh2.png");
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-filter: grayscale(300%);
	contrast(100%);
	filter: grayscale(100%) contrast(200%);
	brightness(60%);

  }
 

  }
.aboutcontainer{
	width: 100vw;
	height: 100vh;
	background-color:#FAEBD7;
	display:flex;
	flex-direction: row;
    align-items: center;
   
    

	
}
.aboutcontainer h2{
	text-align: center;
	color:black;
}
.aboutleft{
	display: flex;
	height:100vh;
	width: 40vw;
	margin: auto;
	background-color:#FAEBD7;

}
.rightimage{
	position: relative;
	width: 40vw;
	height: 100vh;

}
.aboutleft img{
	width:40vw;
    height:100vh;
}
.aboutright{
	width: 60vw;
	height: 100vh;
	margin: auto;
	background-color:#FAEBD7;
	font-style:italic;
	line-height:1;
	display: flex;
	flex-direction: column;


}
.aboutmain{
	top: 1vh;
    right:1vh ;
	width: 35vw;
	height: 70vh;
	margin: auto;
	flex-direction: column;


}


.skillcontainer{
	width: 100vw;
	height: 100vh;
	display: flex;
    flex-direction: row;
    align-items: center; 
	background-color:#FAEBD7;
	
}

.skillleft{
	position: relative;
	height:100vh;
	width: 30vw;
	margin: auto;
	background-color:#FAEBD7;
	display: flex;
}

.skillmain{
	position: relative;
	width: 30vw;
	height: 95vh;
	background-color: #FAEBD7;

}
.skillleft img{
	width:30vw; 
	height:90vh;
}

.skillright{
	position: relative;
	width: : 30vw;
	height: 100vh;
	margin: auto;  
	background-color:#FAEBD7;
	font-family:"Segoe UI",Arial,sans-serif;
	font-style: italic;
	display: flex;
	flex-direction: column;	
	

}

.skilldiv{
	position: relative;
    width: 15vw;
	height: 100vh;
	margin: auto;
	background-color:#FAEBD7;
	font-family:"Segoe UI",Arial,sans-serif;
	font-style: italic;
	line-height:1;
	
	

}

.paragraph{
	position: relative;
	width: 50vw;
	height: 100vh;
	margin: auto;
	background-color:#FAEBD7;
	font-family:"Segoe UI",Arial,sans-serif;
	font-style: italic;
	line-height:1;
	display: flex;
	flex-direction: column;

}



.bottomcontainer{
	width: 100vw;
	height: 15vh;
	background-color: #2b384c;

}

.bottomcontainer p{
	line-height: 20px;
	color:#eee;
	text-align: right;
}

.containereducation
{
	width: 100vw;
	height: 100vh;
	background-color:#FAEBD7;
	font-family:"Segoe UI",Arial,sans-serif;
	font-style: italic;
	
}

.educationmain{

	bottom:2vh;
    right:2vh ;
	width: 40vw;
	height: 90vh;
	margin: auto;

}
.containerproject
{
	width: 100vw;
	height: 100vh;
	background-color:#FAEBD7;
	

}
.professioncontainer{
	width: 100vw;
	height: 100vh;
	background-color:#FAEBD7;


}
.projectnmain{
	bottom:2vh;
    right:2vh ;
	width: 40vw;
	height: 90vh;
	margin: auto;

}
h1,h2,h3,h4,h5,h6
 {
    font-family:"Segoe UI",Arial,sans-serif;
    letter-spacing: 2px;

}

.icon img{
	width: 45px;
	height: 35px;
	margin: 5px 2px;
	padding: 5px;
}
.center{
	text-align: center;

}
h5{
	font-size: 1rem;
}
.large{
	font-size: 1.2rem;
}
.cent{
	text-align: center;
	font-size: 1rem;
	font-family:"Segoe UI",Arial,sans-serif;
	font-style: italic;
}
.main1{
	text-align: center;
	
	display: flex;
	flex-direction: column;
	align-content: center;
	font-family:"Segoe UI",Arial,sans-serif;
	font-style: italic;

}
.main1 li{
	text-align: center;
	font-size: 1.1rem;
	display: flex;
	flex-direction: column;
	align-content: center;	
	font-family:"Segoe UI",Arial,sans-serif;
	font-style: italic;
	align-items: center;

} 

@media only screen and (max-width: 768px) {
    .skillcontainer{
        flex-direction: column;
        width: auto;
        
        height: auto;

      

    }
    .paragraph{
    	
        height:100%;
        width:100%;
        
        
        

    }
    .large{
    	font-size: 1.5rem;
    }
    

    .skillleft{
    	
        width:100% ;
        
        height: 100%;
       
         
    }
   
    .skillmain{
    	width: 100%;
    	height: 100%;
    	align-self: center;
    }
    .skillmain img{
    width:100%; 
	height:100%;
	align-self: center;


    }
    .main1 li{
    	font-size: 1.5rem;
    }


     .skillright{
     	order:-1;
        width: 100%;
        height:100%;              
}
.cent{
	text-align: center;
	font-size: 1.2rem;
}
.aboutcontainer{
	  flex-direction: column;
        width: 100%;
        
        height: auto;

}
.aboutright{
	width: 100%;
	height: auto;

}
.aboutleft{
	order:-1;
	height:auto;
	width: 100%;
}

.rightimage{
	width: 100%;
	background-color: grey;
	
	align-content: center;

}

.rightimage img{
	width: 100%;
	align-content: center;


}
.aboutmain{
	width: 100%;
	height: 100%;

}
.containereducation{
	 flex-direction: column;
     width: 100%;
    
      height: auto;

}
.educationmain{
	width: 100%;
	height: 100%;

}
.containerproject{
	 flex-direction: column;
     width: 100%;
    
      height: auto;

}
.projectnmain{
	width: 100%;
	height: 100%;

}
.navbar ul li{
	box-sizing: border-box;
	width: 100%;
	padding: 5px;

}


}


@media screen and (min-width: 768px) and (max-width: 1085px) {
	.skillcontainer{
        
        width: 100%;
        
        height: 100%;
    }

.large{
		font-size: 1.4rem;
		text-align: center;
		font-family:"Segoe UI",Arial,sans-serif;
	   font-style: italic;
	}
	.paragraph{
		height: 100%;
		width: 40%

	
	}

    

    .skillleft{
    	
        width:35% ;
        
        height: 100%;
       
         
    }
   
    .skillmain{
    	width: 100%;
    	height: 100%;
    	align-self: center;
    }
   
     .skillright{
     
        width: 25%;
        height:100%;
    }
    .skilldiv{
    	width: 100%;
    	height: 100%;
    	align-self: center;

    }
    .main1{
    	width: 100%;
    	height: 100%;
    	
    }
    .main1 li{
    	font-size: 1.2rem;
    	font-family:"Segoe UI",Arial,sans-serif;
	font-style: italic;
    }
    .cent{
	text-align: center;
	font-size: 1.2rem;
	font-family:"Segoe UI",Arial,sans-serif;
	font-style: italic;
}

.aboutcontainer{
	 
        width:100% ;
        
        height:100% ;

}
.aboutright{
	width: 60%;
	height: 100%;

}
.aboutleft{
	
	height:100%;
	width: 40%;
}

.rightimage{
	width: 100%;
	
	
	align-content: center;

}

.rightimage img{
	width: 100%;
	align-content: center;


}
.aboutmain{
	width: 100%;
	height: 100%;

}
.containereducation{
	 
     width: 100%;
    
      height: auto;

}
.educationmain{
	width: 100%;
	height: 100%;

}

}
@media screen and (max-width: 1086px){
.navbar ul li{
	box-sizing: border-box;
	width: 100%;
	padding: 5px;

}
	
}
@media screen and (min-width: 1086px){
	.skillcontainer{
        
        width: 100%;
        
        height: 100%;
    }

.large{
		font-size: 1.3rem;
		text-align: center;
		font-family:"Segoe UI",Arial,sans-serif;
	   font-style: italic;
	}
	.paragraph{
		height: 100%;
		width: 40%

	
	}

    

    .skillleft{
    	
        width:35% ;
        
        height: 100%;
       
         
    }
   
    .skillmain{
    	width: 100%;
    	height: 100%;
    	align-self: center;
    }
   
     .skillright{
     
        width: 25%;
        height:100%;
    }
    .skilldiv{
    	width: 100%;
    	height: 100%;
    	align-self: center;

    }
    .main1{
    	width: 100%;
    	height: 100%;
    	
    }
    .main1 li{
    font-size: 1.5rem;
    font-family:"Segoe UI",Arial,sans-serif;
	font-style: italic;
    }
    .cent{
	text-align: center;
	font-size: 1.2rem;
	font-family:"Segoe UI",Arial,sans-serif;
	font-style: italic;
}

.aboutcontainer{
	 
        width:100% ;
        
        height:100% ;

}
.aboutright{
	width: 60%;
	height: 100%;

}
.aboutleft{
	
	height:100%;
	width: 40%;
}

.rightimage{
	width: 100%;
	
	
	align-content: center;

}

.rightimage img{
	width: 100%;
	align-content: center;


}
.aboutmain{
	width: 100%;
	height: 100%;

}
.containereducation{
	 
     width: 100%;
    
      height: auto;

}
.educationmain{
	width: 100%;
	height: 100%;

}

}





























 